streamlit
yfinance
pandas
numpy
datetime
plotly
matplotlib
python-dotenv
cufflinks
alpha_vantage
stocknews
pandas_ta
newsapi-python
newsdataapi
streamlit-extras
prophet
NSEDownload/NSEDownload-5.0.4.tar.gz